<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Welcome to TextWizard</title>
    <style>
        body {
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #bad9f7 0%, #726f75 100%);
            font-weight: bold;

        }

        div.mycontent {
            font-size: large;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TextWizard.in</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to TextWizard!</strong> You can play around with your text here!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container mycontent">
        <form action="/analyze" method="post"> {% csrf_token %}

            <div class="form-group">
                <h1><span id="element"></span></h1>
                <label for="exampleFormControlTextarea1">TextWizard: Elevate your text game</label>
                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="removepunc">
                <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2" name="fullcaps">
                <label class="custom-control-label" for="customSwitch2">Convert to UPPERCASE</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3" name="newlineremover">
                <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch4" name="extraspaceremover">
                <label class="custom-control-label" for="customSwitch4">Extra Space Remover</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch5" name="charcounter">
                <label class="custom-control-label" for="customSwitch5">Count the number of Characters</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch6" name="fullsmall">
                <label class="custom-control-label" for="customSwitch6">Convert to lowercase</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch7" name="wordcounter">
                <label class="custom-control-label" for="customSwitch7">Count the number of Words</label>
            </div>
            <button type="submit" class="btn btn-dark mt-2">Analyze text</button>
        </form>
    </div>
    <br>
    <div class="card bg-dark">
        <h5 class="card-title" style="text-align: center;color: white;">Copyright &copy; 2024 TextWizard. Design by
            <small>Gaurav Joshi</small>
        </h5>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Enter your text here:', 'Let TextWizard do the magic!'],
            typeSpeed: 50,
        });
    </script>
</body>

</html>